.title {
  font-family: TTOctosquares;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0.365em;
  text-align: center;
  &Medium {
    font-size: 4.7143rem;
    margin-bottom: 1.4286rem;
  }
  &Large {
    font-size: 5.7143rem;
  }
}
